.description {
    position: relative;
    background-color: transparent;

    &::before {
        content: "";
        position: absolute;
        top: 157px;
        left: -137px;
        z-index: -1;
        width: 1444px;
        height: 1089px;
        background-image: url("../img/catalog-background@1x.png");
    }
}

.description__links {
    margin: 0;
    margin-bottom: 79px;
}