.nav {
    text-align: left; 
    color: $grey--dark;
}

.nav__list {
    @include list-style;

    display: flex;
    flex-wrap: wrap;
}

.nav__item {
    font-family: $font-default;
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
    margin-left: 40px;
    color: $grey--dark;
}