.places {
    padding-bottom: 82px;
    font-family: $font-default;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

.places__title {
    position: relative;
    width: 370px;
    margin: 0;
    margin-bottom: 64px;
    font-size: 55px;
    line-height: 80px;
    font-weight: 600;
    color: $grey--light;

    &::after {
        content: "";
        position: absolute;
        bottom: -35px;
        left: 0;
        width: 229px;
        height: 4px;
        background-color: $main;
    }
}

.places__text {
    width: 370px;
    margin: 0;
    margin-bottom: 56px;
}

.places__list {
    @include list-style;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places__item {
    &:nth-child(3n+1){
        margin-right: 60px;
    }

    &:nth-child(3n+3){
        margin-left: 60px;
    }

    &:last-child{
        margin-left: 60px;
    }

    &:nth-last-child(n+4){
        margin-bottom: 101px;
    }
}